// @import url('mainStyle.css');


// .editor-styles-wrapper {
//     .editor-visual-editor__post-title-wrapper {
//         h1,h2,h3,h4,h5,h6 {
//             color: #1d2327;
//             font-size: 2em;
//             margin: .67em 0;
//         }
//     }
//     .block-editor-block-list__layout {
//         background-color: #0e0e0e!important;

//         h1,h2,h3,h4,h5,h6 {
//             color: #dac5a7!important;
//         }
//     }
// }