
@mixin text_adaptive($args...) { 
    @if list.length($args) == 0 {
        @include text_adaptive($P);
    } @else if list.length($args) == 2 {
        $type: list.nth($args, 1);
        $map: list.nth($args, 2);

        #{$type} {
            @include text_adaptive($map);
        }
    }
    
    @if list.length($args) == 1 {

        $map: list.nth($args, 1);

        $font_size_first: map.get($map, font_size_original);
        $font_size_last: map.get($map, font_size_adaptive);

        $line_height: map.get($map, line_height);
        $font_weight: map.get($map, font_weight);  
        $font_family: map.get($map, font_family);
        $font_style: map.get($map, font_style);
        $letter_spacing: map.get($map, letter_spacing);

        @if $font_family {
            font-family: $font_family;
        }
        @if $font_style {
            font-style: $font_style;
        }
        @if $font_weight {
            font-weight: $font_weight;
        }

        overflow-wrap: break-word;
        word-break: normal;
        hyphens: auto;
        text-wrap: pretty;
        text-wrap: balance;

        @if $letter_spacing {
            letter-spacing: $letter_spacing;
        }

        @if $line_height {
            @if not math.is-unitless($line_height) {
                @include line-height($line_height, $font_size_first);
            }
            @else {
                line-height: $line_height;
            }
        }

        @include fluid(font-size, $font_size_first $font_size_last);
    }
} 

@mixin initiateThemeVars {
    @if map.get($SETTINGS, theme) {
        @include transition(background-color, color);
    
        @each $theme, $map in $THEME {
            @if($theme == 'default') {
                @each $key, $value in $map {
                    #{"#{$THEMEPREFIX}#{$key}"}: $value;
                }
            } @else {
                &[data-theme=#{$theme}] {
                    @each $key, $value in $map {
                        #{"#{$THEMEPREFIX}#{$key}"}: $value;
                    }
                }
            }
        }
    }
}

@mixin transition($props...) {
    transition:
        map.get($ANIMATIONSPEEDS, short) ease-in-out;
    transition-property: $props;
}