@use "sass:map";
@use "sass:color";

@import './default/variables';

$SETTINGS: (  
    // pixels perfect
    pixels_only: true,
    // Тип адаптива контейнера
    // 1 = без брейкпоинтов
    // 2 = Boostrap сетка
    responsive_type: 1,
    // Поддержка цветовой палитры и переключения color scheme сайта
    theme: false
);

$CONTAINER: $DEFAULT_CONTAINER;
$HEADERS_CLAMP_WIDTH: $DEFAULT_HEADERS_CLAMP_WIDTH;

$P: $DEFAULT_P;
$HEADERS: $DEFAULT_HEADERS;

$BASE: (
    font_size: 16px,
    font_weight: 400,
    line_height: 1,
    // font_family: ('FontFamilyName', sans-serif),
    main_color: rgb(0, 0, 0),
    background_color: #ffffff,
    container_padding_x: (15px * 2),
    min_width: 320px,
    max_width: 1920px
);

$COLORS: (
    default: map.get($BASE, main_color),
    background: map.get($BASE, background_color),
);

$ANIMATIONSPEEDS: (
    max: 1s,
    long: .5s,
    base: .4s,
    short: .3s
);

$THEMEPREFIX: '--';
$THEME: (
    default: (
        primary-text-color: map.get($COLORS, default),
        primary-background-color: map.get($COLORS, background),
    ),
    dark: (
        primary-text-color: white,
        primary-background-color: black,
    ),
);

$BURGER: (
    color_primary: #{"var(#{$THEMEPREFIX}primary-text-color)"},
    color_active: color-mix(in srgb, #{"var(#{$THEMEPREFIX}primary-text-color)"}, white 80%),
    origin_top: 6px,
    origin_bottom: 6px,
    width: 32px,
    height: 32px,
    line_height: 2px,
    border_radius: 4px,
    animation_speed: map.get($ANIMATIONSPEEDS, short)
);

$ZINDEXES: (
    immortal: 6,
    highest: 5,
    high: 4,
    normal: 3,
    low: 2,
    lowest: 1
);

$FONTS: (
    
);

// Custom
// Here